apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ktroude-playground-app
  namespace: argocd
  labels:
    app: ktroude-playground
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/ktroude/iot-argocd
    targetRevision: HEAD
    path: app
  
  destination:
    server: https://kubernetes.default.svc
    namespace: dev
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
    syncOptions:
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground
    - PruneLast=true
